.about-section {
    width: 100%;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--oxford-blue);
}

.about-section h2 {
    color: var(--athens-gray);
}

.skill-cards {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    margin: 35px;

}

.card-container {
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    justify-content: center;
    border: 1px solid var(--athens-gray);
}

.individual-card {

    padding: var(--spacing-unit);
    text-align: center;
    font-size: 11px;
    background-color: var(--athens-gray);
    flex: 1;
    margin: 10px;
    overflow: visible;

}

/* Styling a background card */
.card-image {
    display: flex;
    margin-bottom: 20px;
    margin-top: -20px;
    margin-right: 50px;
    width: 100px;
    height: 75px;
    background-color: white;
    justify-content: center;
}

.individual-card img {
    width: 50px;
}



.profile {
    display: flex;
    flex-direction: column;
    /* width: 75%; */
    background-color: var(--athens-gray);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: var(--padding);
}

.profile img {
    width: 250px;
    margin: auto;
    display: block;
}

.profile h3 {
    line-height: 1;
    margin: 15px 0;
}

.profile p {
    margin-bottom: 20px;
}

@media(min-width:769px) {
    .skills-cards {
        width: 100%;
        justify-content: space-between;
    }

    .profile {
        max-width: 800px;
    }

    .card-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .individual-card {
        padding: var(--spacing-unit);
        max-width: 250px;
        text-align: center;
        font-size: 18px;
        background-color: var(--athens-gray);
        flex: 1;
        margin: 10px;
        overflow: visible;
    }

    /* Styling a background card */

    .card-image {
        display: flex;
        margin-bottom: 20px;
        margin-top: -20px;
        margin-right: 50px;
        width: 150px;
        height: 100px;
        background-color: white;
        justify-content: center;
    }
}