* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: var(--oxford-blue);
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 2px solid var(--salmon);
}

header {
    margin-top: 5rem;
}


header h1, p {
    text-align: center;
}

#ant-eater {
    width: 75px;
    fill: var(--salmon);
}

.nav-menu a {
    color: var(--salmon);
}

.picture-boxes {
    display: flex;
    flex-direction: column;
    margin: var(--margin) 0;

}

.project-overview {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: var(--padding);
    background-color: var(--athens-gray);
    width: 100%;
    margin-bottom: var(--margin);
    box-shadow: 2px 2px 10px var(--oxford-blue);
}

.project-overview p {
    text-align: start;
    margin: var(--margin) 0;
}

.picture-box {
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    border: 1px solid var(--oxford-blue);
    margin: var(--margin);
    background-color: var(--athens-gray);
    align-items: center;
    text-align: center;
    min-width: 20rem;
}

.picture-box img {
    min-width: 50px;
    border: 2px solid var(--oxford-blue);
    border-radius: 1rem;
}

#bio-screenshot {
    min-width: 500px;
}

#contact-screenshot {
    max-width: 350px;
}

footer {
    border-top: 2px solid var(--oxford-blue);
    background-color: var(--athens-gray);
    display: block;
    padding: var(--padding);
}

.footnote {
    text-align: center;
    font-size: 0.8rem;
    opacity: 0.6;
    margin-top: var(--margin);

}

.highlight {
    color: var(--salmon);
    font-weight: 600;
}

@media(min-width:900px) {

    .picture-boxes {
        max-width: 700px;
        margin: 1rem auto;
    }

}